<h1>Listing fortunes</h1>

<table>
  <tr>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fortunes.each do |fortune| %>
  <tr>
    <td><%= fortune.text %></td>
    <td>
      <%= button_group do %>
        <%= primary_log_button_link_to 'Show', fortune %>
        <%= edit_button_link_to 'Edit', edit_fortune_path(fortune) %>
        <%= remove_negative_button_link_to 'Destroy', fortune, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= add_button_link_to 'New Fortune', new_fortune_path %>
