<!DOCTYPE html>
<html>
<head>
  <title>Wisdombiscuit</title>
  <%= stylesheet_link_tag     'http://fonts.googleapis.com/css?family=Lobster' %>
  <%= stylesheet_link_tag     "application" %>
  <%= javascript_include_tag  "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="wisdombiscuit-com">

<div id="content">
  <%= yield %>
</div>

</body>
</html>
